html{
    background-color: rgb(0, 0, 0);

}
#root{
    background-color: rgb(0, 0, 0);
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.caro-img, .bear-img{  
    width: 100%;
    
}
.to,.genreimg{
  width: 100%;
}
.genreimg{
  display: block;
}
.genreLink{
  font-weight: bold;
}
.bear-img{
    height: 100%;
    border-radius: 5px 0 0 5px;

}
.swiper-img{
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.swiper-button-prev,
.swiper-button-next {


  color: #dba506;

}
.swiper-pagination-bullet{
  background: #dba506;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.absolute-img{
    border-radius: 5px;
}
.details-cta{
    margin: 10px 0 40px 0;
    background: #dba506;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}
.cta-up{
  display: block;
  background-color: rgb(19, 18, 18);
  color: #dba506;
  margin: 10px;
  border-radius:3px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;

}
.iframe{
    border-radius: 0 5px 5px 0;
    width: 100%;
    height: 100%;
    border: none;

}
.latest-img{
  width: 100%;
  height: 320px;
}
.toprated{
 width: 100%;
 display: block;
}

.top-rated-title{
  color: blue;
  text-decoration: underline;
  font-size: 14px;

}
.mySwiper{
  margin-left: 45px;
}
@media(min-width:900px){
  .mySwiper{
    margin-left: 10px;
  }
}
/* Loader */
.spinner {
    animation: rotator 1.4s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
  
  @keyframes colors {
    0% {
      stroke: #4285f4;
    }
    25% {
      stroke: #de3e35;
    }
    50% {
      stroke: #f7c223;
    }
    75% {
      stroke: #1b9a59;
    }
    100% {
      stroke: #4285f4;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }